* {
	font-family: 'Oswald', sans-serif;
	color: #4C4349;
    text-align: center;
	vertical-align: middle;	
}

html {
	background-color: #FFDEF5;
}

#logo{
    display: block;
	max-width: 57.5em;
    margin-left: auto;
    margin-right: auto;
}

.birthday {
	background: transparent;
	text-indent: 0.01px;      
	text-overflow: "";  
	padding: 5px;
	height: 2em;
	font-size: 1.25em;
	border-color: #4C4349;
}

select {
	width: 4em;
}

.button{
	border : solid 2px #ffdef5;
	border-radius : 3px;
	font-size : 25px;
	padding : 4px 17px;
	background-color : #cc75b0;
	top: 2.5em;
}

.info {
	text-align: center;
	width: 99%;
    margin-left: auto;
    margin-right: auto;
	position:absolute;
	bottom:0;
}