* {
	font-family: 'Oswald', sans-serif;
	color: #4C4349;
    text-align: center;
	vertical-align: middle;	
}

html {
	background-color: #FFDEF5;
}

.footer {
	text-align: center;
	width: 99%;
    margin-left: auto;
    margin-right: auto;
	position:absolute;
	bottom:0;
}

.birthday {
	background: transparent;
	text-indent: 0.01px;      
	text-overflow: "";  
	border-color: #4C4349;
}

.button{
	border : solid 2px #ffdef5;
	border-radius : 3px;
	padding : 4px 17px;
	background-color : #cc75b0;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.github{
	max-width: 10%;
}

.moneymakers{
	margin-bottom: 1em;
}

@media screen and (max-device-width: 400px) {
	.logo {
		max-width: 20em;
	}

	.birthday {
		height: 2em;
		font-size: 1em;
	}

	select {
		width: 5em;
		height: 1em;
	}
}

@media screen and (max-device-width: 790px) and (min-device-width: 401px) {
	html{ 
		font-size: 1em;
	}

	.logo {
		max-width: 30em;
	}

	.birthday {
		height: 1.5em;
	}

	.footer{
		font-size: .5em;
	}

	select {		
		width: 6em;
	}

	.button{
		border : solid 5px #ffdef5;
		border-radius : 4px;
	}	
}

@media screen and (max-device-width: 1080px) and (min-device-width: 791px) {
	html{ 
		font-size: 1.5em;
	}

	.logo {
		max-width: 40em;
	}

	.birthday {
		height: 2em;
		font-size: 1em;
	}

	select {		
		border : solid 1.5px #ffdef5;
		width: 6em;
		font-size: 1em;
		height: 1.5em;
		margin: .5em;
	}

	.button{
		border : solid 10px #ffdef5;
		border-radius : 5px;
		padding : 5px 25px;
		margin-top: 4em;
	}	
}

@media screen and (min-device-width: 1081px) {
	html{ 
		font-size: 1.75em;
	}

	.logo {
		max-width: 60em;
	}

	.birthday {
		height: 2em;
		font-size: 1em;
	}

	select {		
		border : solid 1.5px #ffdef5;
		width: 8em;
		font-size: 2em;
		height: 3em;
	}

	.button{
		font-size: 1em;
		height: 3em;
		width: 6em;
	}	
}
