* {
	font-family: 'Oswald';
	color: #4C4349;
    text-align: center;
	vertical-align:middle
}

a {
	color: #4C4349;
}

html {
	background-color: #FFDEF5;
}

#logo{
    display: block;
	max-width: 57.5em;
    margin-left: auto;
    margin-right: auto;
}

.birthday {	
	-webkit-appearance: none; 
	-moz-appearance: none;    
	background: transparent;
	text-indent: 0.01px;      
	text-overflow: "";  
	padding: 5px;
	height: 2em;
	font-size: 1.25em;
	border-color: #4C4349;
}

select {
	-webkit-appearance: none; 
	-moz-appearance: none;    
	background: transparent;
	text-indent: 0.01px;      
	text-overflow: "";  
	padding: 5px;
	height: 2em;
	width: 4em;
	font-size: 1.25em;
	border-color: #4C4349;
}

.btn-style{
	border : solid 1px #ffdef5;
	border-radius : 3px;
	-moz-border-radius : 3px;
	font-size : 20px;
	color : #4c4349;
	padding : 4px 17px;
	background-color : #cc75b0;

}

.info {
	text-align: center;
	width: 99%;
    margin-left: auto;
    margin-right: auto;
	position:absolute;
	bottom:0;
}

span {
	font-family: sans-serif;
	color: #A6A1A4;
}